<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <img src="<%= data.img %>" alt="<%= data.name %>">
    <h3><strong>Name:</strong><%= data.name %></h3>
    <h3><strong>Description:</strong><%= data.longDesc %></h3>
    <h3><strong>Stock:</strong><%= data.stock %></h3>
    <h1><%= data.price %></h1>
    <h3><strong>Last Updated:</strong><%= data.createdAt %></h3>

    <td><a href="/edit/<%= data.id %>"><button>Edit</button></a></td>

</body>
</html>